

                    <article class="content-publication">
                        <h1>Title: {{name}}</h1>
                        <p>Number of people shared the publication: {{vote}}</p>
                        <a href="/products/details/{{_id}}" class="image-details">View publication</a>
                    </article>